# PyCharm project files
/.idea/

# Copilot files
/.github/

# PyInstaller directories/files
/build/
/dist/

# Nuitka directories/files
/app.build/
/app.dist/
/app.onefile-build/
/build_nuitka.py

# Tests
/htmlcov/
